<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new product</title>
</head>
<body> <form action="/details" method="post">
   <table>
       <tr><td>
        product name:<input type="text" name="pn"></td></tr>
        <tr><td>
          product price:<input type="text" name="pp"></td></tr>
        
          <tr><td>quandity: <input type="text" name="pq"></td></tr>
        
          <tr><td><input type="submit" value="submit"></td></tr>
   
</table>
</form>
</body>
</html>